<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About - Digital Library Management</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
    }
    .container {
        width: 80%;
        margin: 0 auto;
        padding-top: 50px;
    }
    .header {
        color: #45a049;
        font-size: 32px;
        margin-bottom: 20px;
        text-align: center;
    }
    .user-info {
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .user-info h2 {
        color: #333;
        margin-bottom: 20px;
        text-align: center;
    }
    .user-info p {
        color: #666;
        margin-bottom: 10px;
    }
    .user-info i {
        margin-right: 10px;
        font-size: 20px;
        color: #45a049;
    }
    .user-info .profile-picture {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 0 auto 20px;
        display: block;
    }
    .user-info .contact-info {
        margin-top: 30px;
        border-top: 1px solid #ddd;
        padding-top: 20px;
    }
    .user-info .contact-info a {
        color: #45a049;
        text-decoration: none;
        margin-right: 20px;
        transition: color 0.3s ease;
    }
    .user-info .contact-info a:hover {
        color: #357e3d;
    }
</style>
</head>
<body>
<div class="container">
    <div class="header">About User</div>
    <div class="user-info">
        <img class="profile-picture" src="./defaultpfp.jpg" alt="Profile Picture">
        <h2>User Information</h2>
        <p><i class="fas fa-user"></i> Name: <%= locals.user.name %></p>
        <p><i class="fas fa-envelope"></i> Email: <%= locals.user.emailId  %></p>
        <p><i class="fas fa-calendar-alt"></i> Date of Birth: <%= locals.user.dob  %></p>
        <p><i class="fas fa-map-marker-alt"></i> Address: <%= locals.user.tempaddress  %></p>
        <p><i class="fas fa-phone"></i> Phone: <%= locals.user.contactNo%></p>
        <p><i class="fas fa-user-lock"></i> Account Type: <% if (locals.user.isAdmin) { %>
            Admin and Customer account
         
        <% } else { %>
            Customer account
        <% } %>
        </p>
        <div class="contact-info">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</div>
</body>
</html>
